
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

/* Phan login */


/* Phần category */
.row_none{
        select {
        display: none!important;
    }
}
.data-table{
    tr {
        th {
            padding: 10px 5px!important;
                select{
                    width: 100%!important;
                    height: 25px!important;
                    padding: 10px 5px!important;
                }
        }
    }
}

#cat_table_filter{
    input {
        width: 300px;
        height: 30px;
        border-radius: 25px;
        padding: 10px;
    }
}
#lang{
        #vi {
            width: 19px;
            height:  15px;
        }
}
.page-title{
    .title_right {
        text-align: right;
         #lang {
            left: -47px!important;
        }
    }
}

.clearfix_top{
    border-bottom: 1px solid;
    margin-bottom: 15px;
}
.imagePreview {
    width: 100%;
    height: auto;
    overflow: hidden;
}
.checkbox{
    label {
        padding-left: 0px!important;
    }
}
.radio {
    label {
        padding-left: 0px!important;
    }
}

.site_title{
    i {
        border: none;
    }
}

/* Datatable */

table{
    .dataTable {
        thead{
            th{
                padding: 5px 25px 5px 7px!important;
            }
        }
    }
}


#category_img{
    .thumbnail {
        height: 445px!important;
        overflow: hidden;
    }
}

ul{
    .bar_tabs {
        background: none;
        margin-bottom: 50px;
    }
}

#send_cat {
    float: right;
}
#cancel {
    float: right;
}

.title_create_right {
    text-align: right;
}
.title_create_left {
    text-align: left;
}

.del_sub_item {
    display: inline;
}

/* Secsion Products */
.add_pro {
    margin-bottom: 10px;
}

#list_add_pro{
    #list_add_img_pro{
         padding:  0px!important;
        }
}

#list_img_pro_color {
    padding:  0px!important;
    li {
        list-style-type: none;
    }
}

#list_add_pro{
    li {
        list-style-type: none;
    }
}
 #list_add_img_pro{
    li {
        list-style-type: none;
    }
 }

#users-table_filter{
     input{
        width: 240px;
    }
}
.dataTables_wrapper {
    margin-top: 26px;
}

/* phần search products*/
.twitter-typeahead{
    width: 100%!important;
}

.tt-menu {
    width: 100%!important;
}
#add_list_products {
    padding:  0px!important;
}
#add_list_products{
    li {
        list-style-type: none;
    }
}

#img_color {
    border:  1px solid #ddd;
    padding:  10px;
}

.errors_login {
    p {
        color: red;
    }
}


